# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/

# Environment variables / secrets
.env
.env.*

# Large/raw datasets
data/raw/
*.zip

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs / temporary files
*.log
*.tmp
*.temp

# Python build files
*.egg-info/
dist/
build/